*, *::before, *::after {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
}
  
.container {
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 24px;
}

p {
    font-family: 'Roboto'; 
}

h3 {
    font-family: 'Roboto';
    margin-bottom: 0px;
}
  
/* NAVIGATION */
.logo {
    margin: 0px 0 0px 80px; 
    font-family: 'Tangerine';
}
  
.logo a {
    text-decoration: none;
    font-size: 42px;
    font-weight: bold;
    color: #f9ca24;
}

.splash .navigation {
    width: 100%;
    margin-left: 115px;
    margin-right: 115px;
    align-items: flex-start;
}

.navigation .container {
    display: flex;
    justify-content: space-between;
    flex: 0 50%;
}
  
.navigation ul {
    margin-right: 34px;
    margin-left: 34px;
    padding:0;
}
  
.navigation ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 38px;
    margin-top: 10px;
}
  
.navigation ul li a  {
    text-decoration: none;
    color: white;
    font-family: 'Roboto';
}

/* HEADER */
.splash {
    max-width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url("https://i.postimg.cc/pVBxBSv3/grayscale-photography-of-sea-3560136.jpg");
    background-size: cover; 
    margin-left: 250px;
    margin-right: 250px;
}

.splash-title {
    width: 100%;
    font-size: 40px;
    text-align: center;
    transform: translate(0%, 50%);
    color: white;
}

.splash-title a {
    font-style: italic;
    font-size: 44px;
}

.splash-title span {
    font-size: 72px;
    font-weight: bold;
}

.buttone-one {
    background: #f9ca24;
    padding: 25px 55px 25px 55px;
    border-radius: 5%;
    border: 1px black;
    margin-top: 15px;
}

.buttone-one a {
    font-style: normal;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

/* SERVICES */
.services {
    padding: 48px;
    display: flex;
    margin-left: 250px;
    margin-right: 250px;
    background: white;
    height: 575px;
    flex-direction: column;
}

.services-description {
    text-align: center;
    margin: 60px;
    line-height: 1.4;
}

.services-description a {
    font-size: 40px;
    font-weight: bold;
}

.services-description span {
    font-size: 20px;
    font-style: italic;
}

.services-icons {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-right: 150px;
    margin-left: 150px;
}

.box1, .box2, .box3 {
    flex: 0 0 33.333%;
    line-height: 1.5;
    padding-left: 10px;
    padding-right: 10px;
}

.box1 p, .box2 p, .box3 p {
    font-size: 14px;
}

.services-icons i {
    font-size: 35px;
    background: #fff;
    width: 70px;
    height: 70px;
    color: #f9ca24;
    border-radius: 50%;
    border: 3px solid #f9ca24;
}

.services-icons i::before {
    line-height: 70px; 
}

.box1 p, .box2 p, .box3 p  {
    margin-top: 0px;
}

/* PORTFOLIO */
.portfolio {
    height: 1210px;
    background: #ecf0f1;
    flex-direction: row;
    padding: 48px;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 250px;
    margin-right: 250px;
}

.portfolio-title {
    text-align: center;
    margin: 60px;
    line-height: 1.4;
}

.portfolio-title a {
    font-size: 40px;
    font-weight: bold;
    
}

.portfolio-title span {
    font-size: 20px;
    font-style: italic;
    
}

.portfolio-box {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    max-width:100%;
}

.portfolio-box img {
    max-width: 300px;
    height: 300px; 
}

.image-description {
    display: flex;
    background: #fff;
    height: 90px;
    margin-bottom: 60px;
    width: 300px;
    justify-content: center;
    flex-direction: column;
    line-height: 0.7;
}

.portfolio-box-box {
    display: flex;
    flex: 0 0 33.333%;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-box-box .image {
    max-height: 300px;
}

.image-description a {
    font-size: 18px;
    font-weight: bold;
}

.image-description span {
    font-size: 16px;
    font-style: italic;
}

/* FOOTER */ 
footer ul li i {
    font-size: 20px;
    background: #2d3436;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
}

footer ul {
    display: flex;
    align-items: center;
    margin-left: 120px;
}

footer {
    margin-left: 250px;
    margin-right: 250px;
    padding-right: 48px;
    padding-left: 48px;
    display: flex;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}

footer li {
    font-size: 0;   
}

footer i:before {
    line-height: 40px;  
}

footer a {
    margin-bottom: 40px;
    margin-top: 40px;
}

.footer-description {
    display: flex;
}

.footer-description a {
    font-family: 'Roboto'; 
    font-size: 14px;
}

.footer-container {
    display: flex;
    width: 100%;
    margin-left: 170px;
    margin-right: 150px;
}